$transition-length: 0.25s;
$transition-length-long: $transition-length * 2;
$balloon-base-width: 220px;
$content-ratio: 9/16;
$minimized-padding: 15px;
$maximized-padding: 20px;
$small-screen-width: 320px;
$small-screen-height: 450px;

.vb-set-maximized {
  transition: opacity $transition-length-long;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
}

.vb-wrapper:not(.vb-multiple) .vb,
.vb-set-minimized {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  &.vb-bottom-right {
    left: calc(100% - #{$minimized-padding});
    top: calc(100% - #{$minimized-padding});
    transform: translate(-100%, -100%);
  }

  &.vb-bottom-left {
    left: #{$minimized-padding};
    top: calc(100% - #{$minimized-padding});
    transform: translate(0%, -100%);
  }

  &.vb-top-left {
    left: #{$minimized-padding};
    top: #{$minimized-padding};
    transform: translate(0%, 0%);
  }

  &.vb-top-right {
    left: calc(100% - #{$minimized-padding});
    top: #{$minimized-padding};
    transform: translate(-100%, 0%);
  }
}

.vb-set-minimized {
  padding: 5px;
  width: calc(100vw - #{$minimized-padding * 2} - 10px);
  max-height: calc(100vh - #{$minimized-padding * 2} - 10px);
  white-space: nowrap;
  overflow: auto;

  .vb-content-slot {
    white-space: normal;
    text-align: left;
  }

  .vb-wrapper {
    position: relative;
    display: inline-block;
  }

  .vb {
    position: static;
    transform: none;
    top: 0;
    left: 0;
  }

  &.vb-top-right,
  &.vb-bottom-right {
    text-align: right;

    .vb-wrapper:not(:first-child) {
      margin-left: $minimized-padding;
    }
  }

  &.vb-top-left,
  &.vb-bottom-left {
    .vb-wrapper:not(:last-child) {
      margin-right: $minimized-padding;
    }
  }

  &.vb-top-left,
  &.vb-top-right {
    .vb-wrapper:not(:last-child) {
      margin-bottom: $minimized-padding;
    }
  }

  &.vb-bottom-left,
  &.vb-bottom-right {
    .vb-wrapper:not(:last-child) {
      margin-top: $minimized-padding;
    }
  }
}

.vb-wrapper, .vb-wrapper:not(.vb-multiple){
  transition: opacity $transition-length;

  .vb {
    @media screen and (max-width: $small-screen-width),
           screen and (max-height: $small-screen-height) {
      .vb-content {
        height: 0px;
        max-height: 0px;
      }

      .fa-chevron-down,
      .fa-chevron-up {
        display: none;
      }
    }

    &.vb-maximized {
      position: fixed;
      left: 50%;
      top: $maximized-padding;
      transform: translate(-50%, 0);

      box-shadow: 0px 0px 0px rgba(black, 0.4);

      .vb-content {
        width: calc(100vw - #{2 * $maximized-padding});
        max-width: 1200px;
        height: calc(1200px * #{$content-ratio});
        max-height: calc(100vh - #{$maximized-padding} - 46px);
        overflow: auto;
      }

      .vb-content-slot {
        transform-origin: 0% 0%;
        transform: scale(1);
        width: 100%;
        height: 100%;
      }

      .vb-header {
        padding: 13px;

        i {
          font-size: 20px;
        }
      }

      .vb-title {
        max-width: calc(100% - 50px);
        top: 15px;
        left: 10px;
      }
    }

    &.vb-zoomed-out {
      .vb-content-slot {
        transform-origin: 0% 0%;
        transform: scale(0.25);
        width: 400%;
        height: 400%;
      }
    }
  }

  .vb-header {
    background: #eceae8;
    color: #777;
    padding: 5px;
    height: 20px;
    border-bottom:1px solid #aaa;
    box-sizing: content-box;

    .vb-title {
      transition: opacity $transition-length;
      float: left;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 5px;

      &:hover {
        opacity: 0.7;
      }
    }

    .vb-buttons {
      float: right;
    }

    i {
      transition: opacity $transition-length;

      cursor: pointer;
      font-size: 15px;
      margin-left: 5px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .vb-content {
    position: relative;
    width: $balloon-base-width;
    height: $balloon-base-width * $content-ratio;
    max-width: $balloon-base-width;
    max-height: $balloon-base-width * $content-ratio;
    overflow: hidden;

    background: #eceae8;
  }

  .vb-content-slot {
    transform-origin: 0% 0%;
    transform: scale(1);
    width: 100%;
    height: 100%;
  }

  .vb-maximized-overlay {
    transition: opacity $transition-length-long;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    z-index: 9999;
    opacity: 0.7;
  }

  .vb-minimized-overlay {
    transition: opacity $transition-length;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    i {
      color: white;
      font-size: 3em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.vb-transition-enter,
.vb-transition-leave-active {
  opacity: 0;
}

.vb-multiple
.vb-maximized-overlay{
  z-index: -1;
}

.vb {
  box-shadow: 0px 1px 5px rgba(#444, 0.7);

  border-radius: 2px;
  overflow: auto;

  &.vb-concise {
    .vb-content {
      height: 0px;
      max-height: 0px;
    }
  }
}

.vb-front {
  z-index: 10004;
}
